{{ define "restore_user_password" }}

{{ template "header" }}
    
<main class="px-3">
    <h1>Восстановить пароль через email</h1>
  <div class="p-2">
    <form action="/user-restore-password" method="post">
      <input type="email" name="email" id="email" value={{ .Email }} class="form-control short-input"><br>
      <div class="d-flex2">
        <button class="btn btn-warning" id="registration">Отправить новый пароль на почту</button>
      </div>
  </form>

  </div>
</main>

{{ template "footer" }}

{{ end }}
      