{{ define "test_thematic" }}

{{ template "header" }}
    
<main class="px-3">
    <h1>Тест</h1>

    <div class="btn btn-warning">
        <h1 style="text-transform: uppercase;">какая тема тебя интересует?</h1><br>
            {{ range $index, $val := . }}
            <nav class="nav-custom">
                <a class="home-link" aria-current="page" href=/thematic/{{ $val.TopUnderLine }}>{{ $val.TopStr}}</a>
              </nav>
            {{ end }}
    </div>
</main>

{{ template "footer" }}

{{ end }}