{{ define "update_user_password" }}

{{ template "header" }}
    
<main class="px-3">
    <h1>Обновить информацию</h1>
  <div class="p-2">
    <form action="/user-update-password" method="post">
      <input type="password" name="old_password" id="old_password" placeholder="Старый пароль" class="form-control short-input"><br>
      <input type="password" name="new_password" id="new_password" placeholder="Новый пароль" class="form-control short-input"><br>
      <input type="password" name="new_password_second" id="new_password_second" placeholder="Новый пароль" class="form-control short-input"><br>
      <div class="d-flex2">
        <button class="btn btn-warning" id="registration">Добавить</button>
      </div>
  </form>

  </div>
</main>

{{ template "footer" }}

{{ end }}
      