{{ define "translate" }}

{{ template "header" }}
    
<main class="px-3">
    <h1>Переводчик</h1>
    <form action="/translate" method="post">
      <input type="text" name="word" id="word" placeholder="Введите слово на русском или английском" class="form-control"><br>
      <button onclick="translate()" class="btn btn-warning" id="translate">Перевести</button>
      <div id="translationResult"></div>
        <script>
        function translate() {
            var inputText = document.getElementById("word").value;
            fetch("/translate?text=" + inputText)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("translationResult").innerText = data.translation;
                });
        }
        </script>
      <div class="p-2">
        {{ if eq  .Words nil }}
        <!--if len(.Words)== 0 {скрыть .table}-->
        {{ else }}
        <table class="table">
            <thead>
                <tr class="table">
                    <th scope="col">English</th>
                    <th scope="col">Russian</th>
                </tr>
            </thead>
            <tbody>
                {{range $item := .Words}} 
                <tr class="table">
                    <td>{{$item.English}}</td>
                    <td>{{$item.Russian}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        {{ end }}
      </div>

  </form>
</main>

{{ template "footer" }}

{{ end }}
      