{{ define "users_info" }}

{{ template "header" }}
    
<main class="px-3">
    <h1>Всего пользователей зарегестрировано</h1>

    <div class="nav-custom">
        {{ range $index, $user := . }}
        <p class="lead"> ID        {{ $user.ID }} </p>
        <p class="lead"> Email     {{ $user.Email }} </p>
        <p class="lead"> Name      {{ $user.Name }} </p>
        <p class="lead"> Last Name {{ $user.LastName }} </p>
        <p class="lead"> Role      {{ $user.Role }} </p>
        {{ end }}
    </div>
</main>

{{ template "footer" }}

{{ end }}
